sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 'node'
before_install:
  - git config --global user.email "simon.degraeve@gmail.com"
  - git config --global user.name "Simon Degraeve" 
before_script:
  - npm prune
script:
  - npm run lint
  - npm run test
after_success:
  - npm run report-coverage
branches:
  only:
    - master
